body {
	background-image: url("../images/scene.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#pokemonLogo {
	height: 450px;
	width: 750px;
	margin-top: -5em;
}

#character {
	height: 600px;
	width: 300px;
	margin-left: 8em;
}

#intro {
	margin-top: -3em;
	font-size: 1.8em;
	color: antiquewhite;
	font-family: 'Fredoka One', cursive;
}

.gameStart #startGame {
	text-align: center;
	border-style: double;
	border-width: 10px;
	border-color: rgb(255, 218, 55);
	margin-right: 100px;
	margin-left: 100px;
	font-family: 'Boogaloo', cursive;
}

#startGame h2 {
	font-size: 2.2em;
}

#resultsBox {
	text-align: center;
}

#questionContainer {
	text-align: center;
	font-size: 1.5em;
	color: white;
	font-family: 'Gochi Hand', cursive;
}